@use './../../styles/variable.scss';
.country-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;

    &__item {
        width: fit-content;
    }
}

@media screen and (min-width: variable.$breakpoint-tablet) {
    .country-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}