@use 'reset';
@use 'variable';

:root {
    --bg: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);
    --elements: hsl(0, 0%, 100%);
 }
 
html[data-theme = dark] {
    --bg: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
    --elements: hsl(209, 23%, 22%);
}

body {
    background-color: var(--bg);
    font-family: variable.$font-family;
}

