// Layout
$screen-mobile: 375px;
$screen-desktop: 1440px;

// Colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-bg: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Typography
$font-size-1: 14px;
$font-size-2: 16px;
$font-family: 'Nunito Sans';
$weight-1: 300;
$weight-2: 600;
$weight-3: 800;

// Other
$shadow-1: 0px 4px 16px -5px rgba(0,0,0,0.10);
$padding-1: 25px 35px;
$rounded-1: 6px;