@use './../../styles/variable.scss';

.select-region {
    all: unset;
    cursor: pointer;
    background-color: variable.$white;
    box-shadow: variable.$shadow-1;
    border-radius: variable.$rounded-1;
    display: flex;
    min-width: 280px;
    position: relative;
    align-items: center;

    &__selector {
        all: unset;
        padding-left: 25px;
        height: 74px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &:active &__icon {
        transform: rotate(180deg);
        transition: .3s;
    }

    &__icon {
        position: absolute;
        transition: .3s;
        right: 25px;
        pointer-events: none;
    }
}